<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaptionIngo</title>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <section id="navbar">
      <div class="navbar-logo">
        <a href="/">CaptionIngo</a>
      </div>
      <div class="navbar-content">
        <a href="/" class="nav-link">Home</a>
      </div>
    </section>
    <!-- Content -->
    <section id="browse-captions">
      <h3>Browse Captions</h3>
      <!-- Search Box -->
      <div class="search-area">
        <form action="/browse" method="GET">
          <input type="text" name="query" placeholder="Search Caption" />
          <select name="category">
            <option value="all">Category</option>
            <option value="attitude">Attitude</option>
          </select>
          <button>Search</button>
        </form>
      </div>
      <!-- Caption List -->
      <div class="captions">
        <table>
          <thead>
            <tr>
              <td>Caption</td>
              <td>Used By</td>
              <td>Copy</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                The happiest people don't have the best of everything, they make
                the best of everything.
              </td>
              <td>5356</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>Do more things that make you forget to check your phone.</td>
              <td>5248</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>
                F.R.I.E.N.D.S. Fight for you. Respect you. Include you.
                Encourage you. Need you. Deserve you. Stand by you.
              </td>
              <td>4312</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>She's the exclamation mark in the happiest sentence that I could ever possibly write.</td>
              <td>3614</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>Feelings are just visitors, let them come and go.
              </td>
              <td>3542</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>Sorry for being late, I was enjoying my last few minutes of not being here.</td>
              <td>2358</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>Do not wait on the PERFECT MOMENT, take the minute and make it BEST.</td>
              <td>1547</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>The great pleasure in life is doing what people say you cannot do.</td>
              <td>1269</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>Life is like a balloon. If you never let go, you will certainly not understand how high you can climb.</td>
              <td>952</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
            <tr>
              <td>Take a piece of my heart and make it all your own, so when we are apart, you’ll never be alone.</td>
              <td>351</td>
              <td>
                <button>Copy</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Paginations -->
      <ul class="pagination">
        <li class="page active">1</li>
        <li class="page">2</li>
        <li class="page">3</li>
        <li class="page">4</li>
        <li class="page">5</li>
        <li class="page">6</li>
        <li class="page">7</li>
        <li class="page">8</li>
        <li class="page">9</li>
        <li class="page">10</li>
        <li class="page">11</li>
        <li class="page">12</li>
        <li class="page">13</li>
        <li class="page">14</li>
        <li class="page">15</li>
      </div>
    </section>
    <!-- Footer -->
    <section id="footer">
      <p class="footer-text">
        Made with <span> &#x2764;</span> by <a href="#">Zahidul Hoque Fahim</a>
      </p>
    </section>
  </body>
</html>
