<%- include("./partials/header") %>
<!-- Content -->
<section id="caption-big">
  <h2 class="caption-text">
    <%= caption.text %>
  </h2>
  <div class="caption-buttons">
    <button class="new-caption" onclick="window.location.reload(true);">
      Generate New Caption
    </button>
    <button class="copy-btn" onclick="copyText('<%= caption.text %>')">
      Copy
    </button>
  </div>
</section>
<%- include("./partials/footer") %>
