<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CaptionIngo</title>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <section id="navbar">
      <div class="navbar-logo">
        <a href="/">CaptionIngo</a>
      </div>
      <div class="navbar-content">
        <a href="/browse" class="nav-link">Browse Captions</a>
      </div>
    </section>
    <!-- Content -->
    <section id="caption-big">
      <h2 class="caption-text">
        When you can't find the sunshine, be the sunshine.
      </h2>
      <div class="caption-buttons">
        <a href="#" class="new-caption">Generate New Caption</a>
        <a href="#" class="copy-btn">Copy</a>
      </div>
    </section>
    <!-- Footer -->
    <section id="footer">
      <p class="footer-text">
        Made with <span> &#x2764;</span> by <a href="#">Zahidul Hoque Fahim</a>
      </p>
    </section>
  </body>
</html>
